[submodule "EpisodesParser/QCachingLocale"]
	path = EpisodesParser/QCachingLocale
	url = git://github.com/wimleers/QCachingLocale.git
[submodule "EpisodesParser/QBrowsCap"]
	path = EpisodesParser/QBrowsCap
	url = git@github.com:wimleers/QBrowsCap.git
[submodule "EpisodesParser/QGeoIP"]
	path = EpisodesParser/QGeoIP
	url = git@github.com:wimleers/QGeoIP.git
